<nav class="navbar navbar-expand-lg sticky-top navbar-default navbar-light bg-faded">
    <div class="container">
        <span class="navbar-brand">
        <i class="fa fa-list fa-fw"></i>
        D-WOZ
        </span>
        <div id="logout" class="float-xs-right" *ngIf="isLoggedIn | async">
        <button id="logout-button" class="btn btn-outline-info my-2" (click)="signout()">
            <i class="fa fa-sign-out fa-fw"></i>
            Logout
        </button>
        </div>
    </div>
</nav>
