<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-4 col-md-3 bg-light sidebar">
      <button type="button" class="btn btn-success" (click)="createAgent()">create</button>
      <ng-container *ngIf="agentList">
        <ol class="nav nav-pills flex-column">
          <ng-container *ngFor="let agent of agentList">
            <li (click)="selectedAgent = agent" class="list-group-item" [class.active] = "isSelected(agent)">
              <p>Agent name : {{agent.name}}</p>
              <p>Agent explanation: {{agent.explanation}}</p>
              <p>Agent triggers:</p>
              <ng-container *ngFor="let trigger of agent.triggers">
                <p>{{trigger}}</p>
              </ng-container>
            </li>
          </ng-container>
        </ol>
      </ng-container>
    </nav>

    <ng-container *ngIf="selectedAgent">
      <div class="col-sm-6 col-md-6">
        <app-agent-detail [agent]="selectedAgent"></app-agent-detail>
      </div>
    </ng-container>
  </div>
</div>
